<footer>
  <section class="footer">
    <div class="container footer-container">
      <div class="footer-top">
        <a href="./index.html" class="logo logo-footer">yachtjet</a>
        <nav class="footer-nav">
          <ul class="footer-list">
            <li class="item-list-link">
              <a href="./index.html" class="footer-link">About</a>
            </li>
            <li class="item-list-link">
              <a href="" class="footer-link">Yachts</a>
            </li>
            <li class="item-list-link">
              <a href="" class="footer-link">Reviews</a>
            </li>
          </ul>
        </nav>
      </div>
      <ul class="social-links-list">
        <li class="social-item">
          <a href="https://www.instagram.com/goitclub/" class="link-icon">
            <svg class="icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="https://www.youtube.com/c/GoIT" class="link-icon">
            <svg class="icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="https://www.facebook.com/goITclub/" class="link-icon">
            <svg class="icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <h2 class="footer-title">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </h2>
      <p class="footer-text">
        2023. Yacht Adventures &nbsp;&nbsp;&nbsp; Privacy Policy
      </p>
    </div>
  </section>
</footer>
