<footer class="footer">
  <div class="footer-custom-container">
    <div class="footer-container">
      <div class="footer-menu-block">
        <a href="./index.html" class="logo logo-footer">yachtjet</a>
        <nav class="footer-nav">
          <ul class="footer-list">
            <li>
              <a href="#about-us" class="item-list-link">About</a>
            </li>
            <li>
              <a href="#our-yachts" class="item-list-link">Yachts</a>
            </li>
            <li>
              <a href="#reviews" class="item-list-link">Reviews</a>
            </li>
          </ul>
        </nav>
        <ul class="social-links-list">
          <li class="social-item">
            <a href="https://www.instagram.com/goitclub/" class="link-icon" aria-label="instagram">
              <svg class="icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.youtube.com/c/GoIT" class="link-icon" aria-label="youtube">
              <svg class="icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-youtube-icon"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.facebook.com/goITclub/" class="link-icon" aria-label="facebook">
              <svg class="icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-text-block">
        <h2 class="footer-title">
          No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
        </h2>
      </div>
      <div class="footer-copyright">
        <p class="footer-text">2023. Yacht Adventures</p>
        <p class="footer-text">Privacy Policy</p>
      </div>
    </div>
  </div>
</footer>
