<section class="hero">
  <div class="container">
    <h1 class="hero-title">Explore the High Seas with Our Luxury Yacht Rentals</h1>
    <p class="hero-text">
      Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on
      an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <a class="hero-link" href="#rent-a-jacht">Yacht rental</a>
  </div>
  <div class="theme-selector" id="theme-switch">
    <svg width="24" height="24" class="theme-selector-image">
      <use href="/img/sprite.svg#icon-moon" id="icon-switch"></use>
    </svg>
    <!--<img class="theme-selector-image" id="theme-switch" src="./img/moon-solid.svg" alt="Dark theme" width="24" />-->
  </div>
</section>
