<div class="mobile-menu" id="modal_menu">
  <div class="container">
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li>
          <a class="mobile-menu-nav-list-item-link" href="./index.html"
            >About</a
          >
        </li>
        <li>
          <a class="mobile-menu-nav-list-item-link" href="">Yachts</a>
        </li>
        <li>
          <a class="mobile-menu-nav-list-item-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="menu-social-list">
      <li class="menu-social-list-itm">
        <a href="" class="menu-social-link">
          <svg width="19" height="19" class="menu-social-icon">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-list-itm">
        <a href="" class="menu-social-link">
          <svg width="19" height="19" class="menu-social-icon">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-list-itm">
        <a href="" class="menu-social-link">
          <svg width="19" height="19" class="menu-social-icon">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
