<section class="section-our-yachts">
  <div class="container">
    <h2 class="title-yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yacht-item">
        <div class="yacht-item-img">
          <img srcset="../img/our-yachts/arrow-yacht.jpg 1x, ../img/our-yachts/arrow-yacht@2x.jpg 2x,"
          src="../img/our-yachts/arrow-yacht.jpg" alt="photo yacht arrow"
          width="360"
          height="268" />
          <p class="yacht-item-descr">
            ARROW<span class="">LUXURY YAHTS</span>
          </p>
          <div class="">
            <ul class="yacht-item-descr-list">
              <li class="yachts">LENGTH</li>
              <li class="yachts">BUILDER</li>
              <li class="yachts">BUILT</li>
              <li class="yachts">GUESTS</li>
              <li class="yachts">PRICE</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="">48m(155ft)</li>
              <li class="">Admiral</li>
              <li class="">2021</li>
              <li class="">11 in 5 cabins</li>
              <li class="">€33,500,000</li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="yacht-item-img">
        <img srcset="../img/our-yachts/benetti-oasis-yacht.jpg 1x, ../img/our-yachts/benetti-oasis-yacht@2x.jpg 2x,"
            src="../img/our-yachts/benetti-oasis-yacht.jpg" alt="photo yacht benetti oasis" width="360" height="268" />
          <p class="yacht-item-descr">
            BENETTI OASIS 40M BO122<span class="">LUXURY YAHTS</span>
          </p>
          <div class="">
            <ul class="yacht-item-descr-list">
              <li class="yachts">LENGTH</li>
              <li class="yachts">BUILDER</li>
              <li class="yachts">BUILT</li>
              <li class="yachts">GUESTS</li>
              <li class="yachts">PRICE</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="">41m(133ft)</li>
              <li class="">Benetti</li>
              <li class="">2025</li>
              <li class="">10 in 5 cabins</li>
              <li class="">€23,210,000</li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="yacht-item-img">
        <img srcset="../img/our-yachts/belle-anna-yacht.jpg 1x, ../img/our-yachts/belle-anna-yacht@2x.jpg 2x,"
            src="../img/our-yachts/belle-anna-yacht.jpg" alt="photo yacht belle anna" width="360" height="268" />
          <p class="yacht-item-descr">
            BELLE ANNA<span class="">LUXURY YAHTS</span>
          </p>
          <div class="">
            <ul class="yacht-item-descr-list">
              <li class="yachts">LENGTH</li>
              <li class="yachts">BUILDER</li>
              <li class="yachts">BUILT</li>
              <li class="yachts">GUESTS</li>
              <li class="yachts">PRICE</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="">50m(155ft)</li>
              <li class="">ISA</li>
              <li class="">2012</li>
              <li class="">12 in 6 cabins</li>
              <li class="">€21,000,000</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
