<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <div class="reviews-block">
      <img
        class="reviews-images"
        src="/src/img/reviews-imgs/john-wax.jpg"
        alt="John Wax"
        width="56"
      />
      <h3 class="reviews-block-title">John Wax</h3>
      <p class="reviews-block-text">
        I rented the Lagoon 620 with my family for a week-long vacation and it
        was the best decision ever. The yacht was spacious, comfortable, and
        luxurious, and the crew took care of everything.
      </p>
    </div>
  </div>
</section>
