.about-us {
}

.about-us-container {
    border-radius: 24px;
    max-width: 335px;
    
    background-color: #fbfbfb;
    padding-top: 40px;
}
.about-us-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    max-width: 270px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.about-us-list {
    padding-left: 20px;
    margin-bottom: 40px;
    
}
.about-us-items {
    
    margin-bottom: 20px;
    max-width: 270px;
    


    
}
.about-us-first-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 20px;
    margin: 0 auto 20px;
    
}
.about-us-second-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
    margin-bottom: 40px;
    
    margin: 0 auto;
}
@media screen and (min-width: 704px) {
    .about-us-container {
        min-width: 704px;
        padding-top: 50px;
    }
    .about-us-title {
        
        font-weight: 500;
        font-size: 48px;

        max-width: 536px;
        margin-left: 32px;
        margin-bottom: 50px;
    }
    .about-us-list {
        padding-left: 32px;
        margin-bottom: 49px;
        
    }
    .about-us-items {
    
        margin-bottom: 20px;
        max-width: 356px;
        
        
    }

    .about-us-first-text {
        font-size: 23px;
        
    }
    .about-us-second-text {
        font-size: 13px;
        line-height: 1.15;
    }
    }
    @media screen and (min-width: 1280px) {
    
        .about-us-container {
            min-width: 1180px;
            padding-top: 50px;
        }
        .about-us-text-cont{
            display: flex;
            gap: 189px;
        }
        .about-us-title {
            max-width: 536px;
            margin-left: 50px;
            
        }
             .about-us-list {
            padding-left: 32px;
            margin-bottom: 49px;
            
        }
        .about-us-items {
        
            margin-bottom: 20px;
            max-width: 324px;
            
            
        }
        
        .about-us-second-text {
            margin-bottom: 100px;
        
        }
    }
    @media screen and (min-width: 1440px) {
        .about-us-container {
            min-width: 1340px;
        }
        .about-us-text-cont{
           gap: 299px;
        }
        .about-us-title {
            max-width: 536px;
            margin-left: 50px;
            
        }
             .about-us-list {
            padding-left: 32px;
            margin-bottom: 49px;
            
        }
        .about-us-items {
        
            margin-bottom: 20px;
            max-width: 376px;
            
            
        }
        
        .about-us-second-text {
            margin-bottom: 100px;
        
        }
    }