.header {
  margin-top: 16px;
  position: relative;
  z-index: 1000;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--white-color);
  border-radius: 8px;
  max-width: 335px;
  height: 42px;
  background-color: var(--white-color);
  padding: 0 20px;
}

.logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: var(--secondary-color);
  padding: 8px 0;
}

.burger-button {
  border: none;
  background-color: transparent;
  padding: 8px 0 8px 8px;
}

.burger-icon {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}